<ion-view view-title="Inscription">
  <ion-content>
    <form ng-submit="register()">
      <div class="list">
        <label class="item item-input ">
          <span class="input-label">Login</span>
          <input type="text" placeholder="Login" ng-model="registerData.login">
        </label>
        <label class="item item-input ">
          <span class="input-label">password</span>
          <input type="password" placeholder="password" ng-model="registerData.password">
        </label>
        <label class="item item-input ">
          <span class="input-label">First Name</span>
          <input type="text" placeholder="First Name" ng-model="registerData.firstname">
        </label>
        <label class="item item-input ">
          <span class="input-label">Last Name</span>
          <input type="text" placeholder="Last Name" ng-model="registerData.lastname">
        </label>
        <label class="item item-input ">
          <span class="input-label">Adresse</span>
          <input type="text" placeholder="Adresse" ng-model="registerData.adresse">
        </label>
        <label class="item item-input ">
          <span class="input-label">Email</span>
          <input type="text" placeholder="Email" ng-model="registerData.email">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Submit</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
