<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Account Tab -->
  <ion-tab title="Business" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" style="font-size:32px;"
           href="#/home/account/business">
    <ion-nav-view name="tab-business"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Personal" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" style="font-size:32px;"
           href="#/home/account/personal">
    <ion-nav-view name="tab-personal"></ion-nav-view>
  </ion-tab>

</ion-tabs>

