<ion-view view-title="Contact">
    <ion-content>

        <div class="list card">

            <a href="#" class="item item-icon-left">
                <i class="icon ion-home"></i>
                Centre urbain nord, Tunis
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-ios-telephone"></i>
                +216 71 101 200
            </a>

            <a href="#" class="item item-icon-left">
                <i class="icon ion-email"></i>
                contact@mybank.com
            </a>
            <a href="#" class="item item-icon-left">
                <i class="icon ion-android-wifi"></i>
                http://www.mybank.com
            </a>

        </div>


    </ion-content>
</ion-view>
