<ion-modal-view>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Edit Profil</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeEdit()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="saveProfil()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="userTemp.firstname">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="userTemp.lastname">
        </label>

        <label class="item item-input">
          <span class="input-label">Address</span>
          <input type="text" ng-model="userTemp.Address">
        </label>

        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="text" ng-model="userTemp.email">
        </label>

        <label class="item item-input">
          <span class="input-label">Date of Birth</span>
          <input type="date" ng-model="userTemp.birthDate">
        </label>

        <label class="item">
          <button class="button button-block button-positive" style="background-color: #009689 !important;"
                  type="submit">save
          </button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
